@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=Muli");

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffe0;
  font-family: "Noto Sans", sans-serif;
}

/*When browswer width is less than 1008px, make mobile adaptable*/

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 250px;
  margin: 20px;
  background-color: #ffcc99;
  padding: 40px;
}

header {
  margin: 20px auto;
  font-family: "Muli", sans-serif;
  font-size: 22px;
}

.gameboard {
  display: flex;
  flex-direction: column-reverse;
}

.plate {
  width: 700px;
  height: 50px;
  background-color: #654321;
  border: 3px solid black;
  margin-top: 0;
}

.areaOfPlay {
  display: flex;
  justify-content: space-around;
}

.pole {
  width: 25px;
  height: 400px;
  background-color: #c0c0c0;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
  margin: 0 100px;
}

.disc {
  margin: 0;
}

.scorekeeping {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.move {
  background-color: #ffcc99;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 0;
}

.big {
  width: 150px;
  height: 75px;
  max-width: 150px;
  max-height: 75;
  background-color: blue;
  border: 3px solid black;
}

.medium {
  width: 100px;
  height: 75px;
  background-color: red;
  border: 3px solid black;
}

.small {
  width: 50px;
  height: 75px;
  background-color: green;
  border: 3px solid black;
}
